@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: black;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    margin-top: 10vh;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-bottom: 10vh;
    color: white;
}

a {
    font-weight: 500;
    color: white
}

span {
    color: white;
}

.content {
    color: white;
    margin-top: 5vh;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
}

img {
  max-width: 100%;
  max-height: 512px;
  display: block;
  height: auto;
  margin: 0 auto;
}
